<% provide(:title, "About") %>

    <h1>About</h1>
    <p>
      My name is Nazarov Artur and this Twitter-like application is my coursework. Credentials are given to <a href="http://www.railstutorial.org"><em>Rails Tutorial</em></a> which gave me inspiration and knowledges to become a full-stack web-developer.
    </p>
  